{% extends "layouts/base-fullscreen.html" %} {% block title %} Sign UP {%
endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %} {% block content %}

<section>
  <div class="page-header min-vh-100" id="whole">
    <div class="container my-auto">
      <div class="row">
        <div class="col-lg-4 col-md-8 col-12 mx-auto">
          <div class="card z-index-0 fadeIn3 fadeInBottom">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
              <div
                class="bg-gradient-info shadow-primary border-radius-lg py-3 pe-1"
              >
                <h4 class="text-white font-weight-bolder text-center mt-2 mb-0">
                  LCK职业联赛管理系统注册
                </h4>
                <div class="row mt-3">
                  <p class="mb-0 text-white text-center">
                    {% if msg %}
                    <span class="text-white">{{ msg | safe }}</span>
                    {% else %}输入信息进行注册{% endif %}
                  </p>
                </div>
              </div>
            </div>
            <div class="card-body">
              <form role="form" method="post" action="">
                {{ form.hidden_tag() }}

                <div class="input-group input-group-outline mb-3">
                  <label class="form-label">用户名</label>
                  {{ form.username(class="form-control") }}
                </div>
                <div class="input-group input-group-outline mb-3">
                  <label class="form-label">邮箱</label>
                  {{ form.email(class="form-control", type="email") }}
                </div>
                <div class="input-group input-group-outline mb-3">
                  <label class="form-label">密码</label>
                  {{ form.password(class="form-control", type="password") }}
                </div>
                <div class="form-check form-check-info text-start ps-0">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="flexCheckDefault"
                    checked
                  />
                  <label class="form-check-label" for="flexCheckDefault">
                    我同意
                    <a href="javascript:;" class="text-dark font-weight-bolder"
                      >用户条款</a
                    >
                  </label>
                </div>
                <div class="text-center">
                  <button
                    type="submit"
                    name="register"
                    class="btn btn-lg bg-gradient-info btn-lg w-100 mt-4 mb-0"
                  >
                    注册
                  </button>
                </div>
              </form>
            </div>
            <div class="card-footer text-center pt-0 px-lg-2 px-1">
              <p class="mb-2 text-sm mx-auto">
                已有账号?
                <a
                  href="{{ url_for('authentication_blueprint.login') }}"
                  class="text-primary text-gradient font-weight-bold"
                  >登录</a
                >
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
  var imgArr = [
    "/static/assets/img/teamimg/af.png",
    "/static/assets/img/teamimg/bro.png",
    "/static/assets/img/teamimg/drx.png",
    "/static/assets/img/teamimg/dwg.png",
    "/static/assets/img/teamimg/gen.png",
    "/static/assets/img/teamimg/gen.png",
    "/static/assets/img/teamimg/hle.png",
    "/static/assets/img/teamimg/kt.png",
    "/static/assets/img/teamimg/lsb.png",
    "/static/assets/img/teamimg/ns.png",
    "/static/assets/img/teamimg/t1.jpeg",
  ];
  var currentImg = Math.floor(Math.random() * 10);
  function changeImg() {
    var img = document.getElementById("whole");
    img.style.backgroundImage = "url(" + imgArr[currentImg] + ")";
  }
  changeImg();
</script>
{% endblock javascripts %}
