{% extends "layouts/base.html" %} {% block title %} Profile {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<style>
	form {
		--color-light: white;
		--color-dark: #212121;
		--color-signal: #fab700;
		--color-background: var(--color-light);
		--color-text: var(--color-dark);
		--color-accent: var(--color-signal);
		--size-bezel: 0.5rem;
		--size-radius: 4px;
		line-height: 1.4;
		font-family: "Inter", sans-serif;
		font-size: calc(0.6rem + 0.4vw);
		color: var(--color-text);
		font-weight: 300;
		padding: calc(var(--size-bezel) * 3) calc(var(--size-bezel) * 3);
	}
	h1,
	h2,
	h3 {
		font-weight: 900;
	}

	mark {
		background: var(--color-accent);
		color: var(--color-text);
		font-weight: bold;
		padding: 0 0.2em;
	}

	.card0 {
		background: var(--color-background);
		padding: calc(4 * var(--size-bezel));
		margin-top: calc(4 * var(--size-bezel));
		border-radius: var(--size-radius);
		border: 3px solid var(--color-shadow, currentColor);
		box-shadow: 0.5rem 0.5rem 0 var(--color-shadow, currentColor);
	}

	.l-design-widht {
		max-width: 40rem;
		padding: 1rem;
	}

	.input {
		position: relative;
	}

	.input__label {
		position: absolute;
		left: 0;
		top: 0;
		padding: calc(var(--size-bezel) * 0.75) calc(var(--size-bezel) * 0.5);
		margin: calc(var(--size-bezel) * 0.75 + 3px)
			calc(var(--size-bezel) * 0.5);
		background: pink;
		white-space: nowrap;
		transform: translate(0, 0);
		transform-origin: 0 0;
		background: var(--color-background);
		transition: transform 120ms ease-in;
		font-weight: bold;
		line-height: 1.2;
	}

	.input__field {
		box-sizing: border-box;
		display: block;
		width: 100%;
		border: 3px solid currentColor;
		padding: calc(var(--size-bezel) * 1.5) var(--size-bezel);
		color: currentColor;
		background: transparent;
		border-radius: var(--size-radius);
	}

	.input__field:focus + .input__label,
	.input__field:not(:placeholder-shown) + .input__label {
		transform: translate(0.25rem, -65%) scale(0.8);
		color: var(--color-accent);
	}

	.button-group {
		margin-top: calc(var(--size-bezel) * 2.5);
	}

	button {
		color: currentColor;
		padding: var(--size-bezel) calc(var(--size-bezel) * 2);
		background: var(--color-accent);
		border: none;
		border-radius: var(--size-radius);
		font-weight: 900;
	}

	button[type="reset"] {
		background: var(--color-background);
		font-weight: 200;
	}

	button + button {
		margin-left: calc(var(--size-bezel) * 2);
	}

	.icon {
		display: inline-block;
		width: 1em;
		height: 1em;
		margin-right: 0.5em;
	}

	.hidden {
		display: none;
	}
</style>
{% endblock stylesheets %} {% block content %}

<div class="container-fluid px-2 px-md-4">
	{% if search %}
	<form action="/player-data.html" method="post">
		<div class="card card0">
			<h2>查询选手</h2>
			<label class="input">
				<input class="input__field" type="text" name="player-id" />
				<span class="input__label">输入选手ID</span>
			</label>
			<div class="button-group">
				<button type="submit">Search</button>
				<button type="reset">Reset</button>
			</div>
		</div>
	</form>
	{% else %}
	<div
		class="page-header min-height-300 border-radius-xl mt-4"
		style="
			background-image: url('https://images.unsplash.com/photo-1531512073830-ba890ca4eba2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1920&q=80');
		"
	>
		<span class="mask bg-gradient-primary opacity-6"></span>
	</div>
	<div class="card card-body mx-3 mx-md-4 mt-n6">
		<div class="row gx-4 mb-2">
			<div class="col-auto">
				<div class="avatar avatar-xl position-relative">
					<img
						src="/static/assets/img/player-pic/{{ player_id }}.png"
						alt="profile_image"
						class="w-100 border-radius-lg shadow-sm"
					/>
				</div>
			</div>
			<div class="col-auto my-auto">
				<div class="h-100">
					<h5 class="mb-1">{{ player_id }}</h5>
					<p class="mb-0 font-weight-normal text-sm">
						from {{ player_team }}
						<img
							src="/static/assets/img/team-icon/{{ player_team }}.png"
							alt="{{ player_team }}.png"
						/>
					</p>
				</div>
			</div>
			<div
				class="col-lg-4 col-md-6 my-sm-auto ms-sm-auto me-sm-0 mx-auto mt-3"
			>
				<div class="nav-wrapper position-relative end-0">
					<ul class="nav nav-pills nav-fill p-1" role="tablist">
						<li class="nav-item">
							<a
								class="nav-link mb-0 px-0 py-1 active"
								data-bs-toggle="tab"
								href="javascript:;"
								role="tab"
								aria-selected="true"
							>
								<i
									class="material-icons text-lg position-relative"
									>home</i
								>
								<span class="ms-1">App</span>
							</a>
						</li>
						<li class="nav-item">
							<a
								class="nav-link mb-0 px-0 py-1"
								data-bs-toggle="tab"
								href="javascript:;"
								role="tab"
								aria-selected="false"
							>
								<i
									class="material-icons text-lg position-relative"
									>email</i
								>
								<span class="ms-1">Messages</span>
							</a>
						</li>
						<li class="nav-item">
							<a
								class="nav-link mb-0 px-0 py-1"
								data-bs-toggle="tab"
								href="javascript:;"
								role="tab"
								aria-selected="false"
							>
								<i
									class="material-icons text-lg position-relative"
									>settings</i
								>
								<span class="ms-1">Settings</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="row">
			<table class="table align-items-center justify-content-center mb-0">
				<thead>
					<tr>
						<th
							class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2"
						>
							赛季
						</th>
						<th
							class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2"
						>
							队伍
						</th>
						<th
							class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2"
						>
							比赛场数
						</th>
						<th
							class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2"
						>
							胜场数
						</th>
						<th
							class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2"
						>
							败场数
						</th>
						<th
							class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2"
						>
							胜率
						</th>
						<th
							class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2"
						>
							场均击杀
						</th>
						<th
							class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2"
						>
							场均死亡
						</th>
						<th
							class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2"
						>
							场均助攻
						</th>
						<th
							class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2"
						>
							场均kda值
						</th>
						<th
							class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2"
						>
							场均补刀数
						</th>
						<th
							class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2"
						>
							分均补刀数
						</th>
						<th
							class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2"
						>
							场均经济
						</th>
						<th
							class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2"
						>
							分均经济
						</th>
						<th
							class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2"
						>
							击杀参与率
						</th>
						<th
							class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2"
						>
							击杀占比
						</th>
						<th
							class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2"
						>
							经济占比
						</th>
						<th
							class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2"
						>
							英雄使用数量
						</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					{% for data in player_data %}
					<tr>
						<td class="text-xs font-weight-bold">
							{{data.year}} {{data.season}}
						</td>
						<td class="text-sm font-weight-bold">
							<img
								src="static/assets/img/team-icon/{{data.team_name}}.png"
								alt="{{data.team_name}}.png"
								class="border-radius-lg"
								width="60px"
							/>
						</td>
						<td class="text-xs font-weight-bold">{{data.g}}</td>
						<td class="text-xs font-weight-bold">{{data.w}}</td>
						<td class="text-xs font-weight-bold">{{data.l}}</td>
						<td class="text-xs font-weight-bold">{{data.wr}}%</td>
						<td class="text-xs font-weight-bold">{{data.k}}</td>
						<td class="text-xs font-weight-bold">{{data.d}}</td>
						<td class="text-xs font-weight-bold">{{data.a}}</td>
						<td class="text-xs font-weight-bold">{{data.kda}}</td>
						<td class="text-xs font-weight-bold">{{data.cs}}</td>
						<td class="text-xs font-weight-bold">
							{{data.cs_per_minute}}
						</td>
						<td class="text-xs font-weight-bold">{{data.gold}}k</td>
						<td class="text-xs font-weight-bold">
							{{data.g_per_minute}}
						</td>
						<td class="text-xs font-weight-bold">{{data.kpar}}%</td>
						<td class="text-xs font-weight-bold">{{data.ks}}%</td>
						<td class="text-xs font-weight-bold">{{data.gs}}%</td>
						<td class="text-xs font-weight-bold">{{data.cp}}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
			<button
				type="button"
				onclick="javascript:window.location.href='/player-data.html'"
				class="btn btn-success"
			>
				返回
			</button>
		</div>
	</div>
	{% endif %}
</div>

{% include 'includes/footer.html' %} {% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
