{% extends "layouts/base.html" %} {% block title %} 选手信息概览 {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %} {% block content %}

<div class="container-fluid py-4">
	<div class="row">
		<div class="col-12">
			<div class="card my-4">
				<div
					class="card-header p-0 position-relative mt-n4 mx-3 z-index-2"
				>
					<div
						class="bg-gradient-info shadow-primary border-radius-lg pt-4 pb-3"
					>
						<h6 class="text-white text-capitalize ps-3">
							选手信息概览
						</h6>
					</div>
				</div>
				<div class="card-body px-0 pb-2">
					<div class="table-responsive p-0">
						<table
							class="table align-items-center justify-content-center mb-0"
						>
							<thead>
								<tr>
									<th
										class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2"
									>
										Team
									</th>
									<th
										class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2"
									>
										Budget
									</th>
									<th
										class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2"
									>
										Status
									</th>
									<th
										class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2"
									>
										Completion
									</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								{% for playerinfo in playerinfolist %}
								<tr>
									<td class="text-sm font-weight-bold">
										<img
											src="static/assets/img/player-pic/{{playerinfo.id}}.png"
											alt="{{playerinfo.id}}"
											class="border-radius-lg"
											width="60px"
										/>
										<a
											href="/team-data.html/{{ playerinfo.team_name }}"
											><img
												src="static/assets/img/team-icon/{{ playerinfo.team_name }}.png"
												class="border-radius-lg"
												width="60px"
										/></a>
										<a
											href="/player-data.html/{{ playerinfo.id }}"
											>{{playerinfo.id}}</a
										>
									</td>
									<td class="text-xs font-weight-bold">
										{{playerinfo.name}}
									</td>
									<td class="text-xs font-weight-bold">
										{{playerinfo.birthday}}
									</td>
									<td class="text-xs font-weight-bold">
										{{playerinfo.residency}}
									</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %} {% endblock javascripts %}
